  <% if  @game.board %>
    <%#= cl_image_tag @game.board.photo.key , { class: "board"} %>
  <% end %>


    <% @game.card_decks.each do |card_deck| %>

      <h2><%= card_deck.name %></h2>
      <%= simple_form_for([@game, card_deck]) do |f| %>
        <%= f.input :posX, id: "posX" %>
        <%= f.input :posY, id: "posY", as: :hidden %>
        <%= f.button :submit, class: "btn btn-primary bottom-right"  %>
      <% end %>

      <% card_deck.cards.each do |card| %>
        <%= card.name %>
        <%= simple_form_for([@game, card_deck, card]) do |f| %>
        <%= f.input :posX, id: "posX" %>
        <%= f.input :posY, id: "posY", as: :hidden %>
        <%= f.button :submit, class: "btn btn-primary bottom-right"  %>
      <% end %>
        <% if card.photo.attached? %>
          <div class = "movablecontainer">
            <%= cl_image_tag card.photo.key, class: "#{card.id}-card", alt: "Responsive image", width: '120px', height: '200px' %>
          </div>
        <% end %>
      <% end %>
        <%= link_to "Add new card in #{card_deck.name}", new_game_card_deck_card_path(@game, card_deck) %>
    <% end %>
    <%= link_to "add deck", new_game_card_deck_path(@game) %>




<div class = "table">
</div>
