<h2 class = "preview">Place your deck around the board</h2>

<%# div.table for background %>
<div class = "table">
</div>

<div class = "movablecontainer" data-posx="<%= @card_deck.posX %>" data-posy="<%= @card_deck.posY %>">
  <%# deck (represented by its first card) to be positioned %>
  <%= cl_image_tag @card_deck.cards.first.photo.key, { class: "card-deck", width: '120px'} %>

  <%# form to submit deck position %>
    <%= simple_form_for [@game, @card_deck] do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
  <% end %>

</div>

<%# @game.board to display board in its position %>
<% if @game.board %>
  <%=cl_image_tag @game.board.photo.key , { class: "board greyed", style: "position: absolute; left: #{@game.board.posX}px; top: #{@game.board.posY}px;"} %>
<% end %>

<%# @game.pieces to display pieces in their position %>
<% unless @game.pieces.empty? %>
  <% @game.pieces[0..-2].each do |piece| %>
    <%= cl_image_tag piece.photo.key, { class: "piece greyed", style: "position: absolute; left: #{piece.posX}px; top: #{piece.posY}px;", width: '60px'}%>
  <% end %>
<% end %>

<%# @game.tokens to display tokens in their position %>
<% unless @game.tokens.empty? %>
  <% @game.tokens.each do |token| %>
    <%= cl_image_tag token.photo.key, { class: "token greyed", style: "position: absolute; left: #{token.posX}px; top: #{token.posY}px;", width: '40px'}%>
  <% end %>
<% end %>

<div class = "bottom-right btn btn-primary">
  <%= link_to "Save card deck placement", game_path(params[:game_id]) %>
</div>
