
<% if @clone.cboard %>
  <div id="elements" data-gameroom-id="<%= @gameroom.id %>" data-posx="<%= @clone.cboard.posX %>" data-posy="<%= @clone.cboard.posY %>" >
    <%=cl_image_tag @clone.cboard.photo.key , { class: "board", style: " left: #{@clone.cboard.posX}; top: #{@clone.cboard.posY};height: #{@clone.cboard.height}px; width:#{@clone.cboard.width}px; transform:rotate(#{@clone.cboard.angle}deg);"} %>
  </div>
<% end %>

<% @clone.ctokens.each do |token| %>
  <div class="movablecontainer" data-posx="<%= token.posX %>" data-posy="<%= token.posY %>" >
    <%= cl_image_tag token.photo.key, { class: "movable token", style: "left: #{token.posX}; top: #{token.posY}; height: #{token.height}px; width:#{token.width}px; transform:rotate(#{token.angle}deg);"}%>
    <%= simple_form_for [@game, @clone, token] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>


<% @clone.cpieces.each do |piece| %>
  <div class="movablecontainer" data-posx="<%= piece.posX %>" data-posy="<%= piece.posY %>" >
    <%= cl_image_tag piece.photo.key, { class: "movable piece", style: "left: #{piece.posX}; top: #{piece.posY}; height: #{piece.height}px; width:#{piece.width}px; transform:rotate(#{piece.angle}deg);"}%>
    <%= simple_form_for [@game, @clone, piece] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% @clone.ccard_decks.each do |deck| %>
  <% if deck.blind? %>
    <div class="movablecontainer">
      <% deck.ccards.each do |card| %>
        <div class="movablecontainer">
          <%= cl_image_tag card.photo.key, { class: "card", style: "position: absolute; left: #{card.posX}px; top: #{card.posY}px; z-index: #{card.position + 1}", width: '120px'} %>
          <%= simple_form_for [@game, @clone, deck, card] do |f| %>
            <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
            <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% else %>
    <% deck.ccards.each do |card| %>
      <div class="movablecontainer">
        <%= cl_image_tag card.photo.key, { class: "card", style: "position: absolute; left: #{card.posX}px; top: #{card.posY}px; z-index: #{card.position + 1}", width: '120px'} %>
        <%= simple_form_for [@game, @clone, deck, card] do |f| %>
          <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
          <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>


<% @clone.cdices.each do |dice| %>
  <div class = "movablecontainer" data-posx="<%= dice.posX %>" data-posy="<%= dice.posY %>">
    <span class="dicenumber"><%= dice.value %></span>
    <%= cl_image_tag dice.photo.key, {class: "movable dice", style: " top: #{dice.posY}; left: #{dice.posX}; height: 50px; width:50px; transform:rotate(#{dice.angle}deg);"} %>
    <%= simple_form_for([@clone, dice]) do |f| %>
      <%= f.input :value, input_html: {value: (rand(dice.faces - 1) + 1)} %>
    <% end %>
  </div>
<% end %>


<div class="the-chat d-flex">
    <div class="chat-container" id="messages">
          <% @gameroom.messages.each do |message| %>
            <%= render "messages/message", message: message %>
          <% end %>
    </div>

    <div class="message-form">
      <%= simple_form_for [ @gameroom, @message ] do |f| %>
        <%= f.input :content, label: false, placeholder: "Message ##{@gameroom.name}" %>
      <% end %>
    </div>
</div>
<div class = "bottom-right btn btn-primary">
  <%= link_to "Leave Game temporarly", games_path %>
</div>

<div class = "table">
</div>
