<% require "open-uri"
%>
<% if @user == current_user %>
  <div class="user" id="user">
    <div class="row">
      <h1>Dashboard</h1>
          <% if current_user.photo.attached? != false %>
            <!-- If user has a photo attached, use this photo -->
            <%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <% github_avatar = URI.open("https://kitt.lewagon.com/placeholder/users/#{current_user.username}") %>
              <%if github_avatar.base_uri.to_s[-6..-1] == "random"%>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{current_user.username}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
              <% end %>
          <% end %>

    </div>
    <br>
    <div class="boxes d-flex justify-content-center">
    <div class="settings">
      <h2>Settings</h2>
      <div class="user-info">
        <p class="text-left">Username: <%= @user.username %></p>
        <p class="text-left">Email: <%= @user.email %></p>
        <%= link_to '<i class="fas fa-edit"></i>'.html_safe, edit_user_path, class: "btn btn-user" %>
      </div>
      <br>

      <li><%= link_to "Create a new game", new_game_path, class: "btn btn-user" %></li>
    </div>

    <div class="history">
      <h2>My games</h2>
        <% if @games != nil %>
          <% @games.each do |game| %>
            <li class="text-left py-1"><%= link_to '<i class="fas fa-edit"></i>'.html_safe, game_path(game) %>
            <%= link_to '<i class="fas fa-trash-alt mr-2"></i>'.html_safe, game_path(game), method: :delete %><%= link_to "#{game.name}", game_preview_path(game) %></li>
          <% end %>
        <% else %>
          <li><%= link_to '<i class="fas fa-gamepad"></i>'.html_safe, new_game_path %> </li>
      <% end %>

    </div>
    <div class="history">
      <h2>My gamerooms</h2>
        <% if current_user.gamerooms != nil %>
          <% current_user.gamerooms.each do |gameroom| %>
            <li class="text-left py-1 my-1"><%= link_to '<i class="fas fa-trash-alt mr-2"></i>'.html_safe, gameroom_path(gameroom), method: :delete %><%= link_to gameroom.name, gameroom_path(gameroom) %></li>
          <% end %>
        <% else %>
          <li><%= link_to '<i class="fas fa-gamepad my-1"></i>'.html_safe, new_game_path %> </li>
      <% end %>

    </div>
    </div>

  </div>
<% else %>
   <p>You cannot access this page.</p>
  <p><%= link_to "Homepage", "/", class: "btn btn-user" %></p>
<% end %>
