<div class = "homepage">
  <div class = "intro">
    <h1>Add tokens to your game</h1>
    <br>
    <br>
    <br>
    <br>
    <div class = "cardwow">
      <%= simple_form_for([@game, @token]) do |f| %>
        <%= f.input :name %>
        <%= f.input :photo, as: :file, required: true %>
        <%= f.input :number_of_tokens, collection: 1..30 %>
        <%= f.button :submit, class: "btn-flat" %>
      <% end %>
    </div>
  </div>
</div>
