
<% if @game.board %>
      <%=cl_image_tag @game.board.photo.key , { class: "board greyed", style: "position: absolute; left: #{@game.board.posX}px; top: #{@game.board.posY}px; height: #{@game.board.height}px; width:#{@game.board.width}px; transform:rotate(#{@game.board.angle}deg);"} %>
<% end %>

<% unless @game.pieces.empty? %>
  <% @game.pieces.each do |piece| %>
    <%= cl_image_tag piece.photo.key, { class: "piece greyed", style: "position: absolute; left: #{piece.posX}px; top: #{piece.posY}px; height: #{piece.height}px; width:#{piece.width}px; transform:rotate(#{piece.angle}deg);"}%>
  <% end %>
<% end %>

<% unless @game.card_decks.empty? %>
  <% @game.card_decks.each do |deck| %>
      <% deck.cards.each do |card| %>
        <%= cl_image_tag card.photo.key, { class: "card greyed", style: "position: absolute; left: #{card.posX}px; top: #{card.posY}px; height: #{card.height}px; width:#{card.width}px; transform:rotate(#{card.angle}deg);"} %>
      <% end %>
  <% end %>
<% end %>

<div class="movablecontainer" data-posx="<%= @game.tokens.last.posX %>" data-posy="<%= @game.tokens.last.posY %>" >
  <%= cl_image_tag @game.tokens.last.photo.key, {class: "movable token", style: "top: #{@game.tokens.last.posY}; left: #{@game.tokens.last.posX}; height: #{@game.tokens.last.height}px; width:#{@game.tokens.last.width}px; transform:rotate(#{@game.tokens.last.angle}deg);"}%>
  <%= simple_form_for([@game, @game.tokens.last]) do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
  <% end %>
</div>

<div class = "table">
</div>

<div class = "sizeform">
  <%= simple_form_for [@game, @game.tokens.last] do |f| %>
    <%= f.input :height, input_html: {value: '50'} %>
    <%= f.input :width, input_html: {value: '50'} %>
    <%= f.input :angle, input_html: {value: '0'} %>
    <%= f.button :submit, 'Save dimensions' %>
  <% end %>
</div>

<div class = "bottom-right btn-flat">
  <%= link_to "Save placement", game_path(params[:game_id]) %>
</div>
