
<% if @game.board %>
      <%=cl_image_tag @game.board.photo.key , { class: "board greyed", style: "position: absolute; left: #{@game.board.posX}px; top: #{@game.board.posY}px;"} %>
<% end %>

<% unless @game.pieces.empty? %>
  <% @game.pieces.each do |piece| %>
    <%= cl_image_tag piece.photo.key, { class: "piece greyed", style: "position: absolute; left: #{piece.posX}px; top: #{piece.posY}px;", width: '60px'}%>
  <% end %>
<% end %>

<% unless @game.card_decks.empty? %>
  <% @game.card_decks.each do |deck| %>
      <% deck.cards.each do |card| %>
        <%= cl_image_tag card.photo.key, { class: "card greyed", style: "position: absolute; left: #{deck.posX}px; top: #{deck.posY + card.position * 40}px;", width: '120px'} %>
      <% end %>
  <% end %>
<% end %>

<div class="movablecontainer" data-posx="<%= @game.tokens.last.posX %>" data-posy="<%= @game.tokens.last.posY %>" >
  <%= cl_image_tag @game.tokens.last.photo.key, {width: '60px', class: "token"}%>
  <%= simple_form_for([@game, @game.tokens.last]) do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
  <% end %>
</div>

<div class = "table">
</div>

<div class = "bottom-right btn btn-primary">
  <%= link_to "Save token placement", game_path(params[:game_id]) %>
</div>
