<div class = "container">
  <h2>Create your PIECE</h2>
  <%= simple_form_for([@game, @piece]) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file, required: true %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <%= f.button :submit  %>
  <% end %>
</div>