<div class = "container">
  <h2>Create your PIECE</h2>
  <%= simple_form_for([@game, @piece]) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file, required: true %>
    <%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
    <button class="btn-flat"><%= f.button :submit %></button>
  <% end %>
</div>