<div class="table">
</div>

  <% if  @game.board %>
    <%= cl_image_tag @game.board.photo.key , { class: "board greyed"} %>

  <% end %>

  <% @game.dices.each do |dice| %>
    <%= simple_form_for([@game, dice]) do |f| %>
      <%= f.input :posX, id: "posX", as: :hidden %>
      <%= f.input :posY, id: "posY", as: :hidden %>
      <%= f.button :submit, class: "btn btn-primary bottom-right", value: "Confirm position"  %>
    <% end %>
  <% end %>
  <h2>Place your dices on the table</h2>

  <div class = "movablecontainer" data-posx="<%= @game.dices.last.posX %>" data-posy="<%= @game.dices.last.posY %>">
      <div>
        <h1 class = "dicenumber">
          <% @game.dices.last.value = rand(@game.dices.last.faces - 1) + 1%>
          <%= @game.dices.last.value %>
        </h1>
      </div>
      <%= cl_image_tag @game.dices.last.photo.key, {class: "movable dice", style: "position: absolute; top: #{@game.dices.last.posY}; left: #{@game.dices.last.posX}; height: 50px; width:50px; transform:rotate(#{@game.dices.last.angle}deg);"} %>
      <%= simple_form_for([@game, @game.dices.last]) do |f| %>
        <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
        <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
      <% end %>
  </div>

<div class = "bottom-right btn btn-primary">
  <%= link_to "Save placement", game_path(params[:game_id]) %>
</div>
