<div class="index" id="index">
  <div class="left">

    <div class="title">
      <h1>Select a game to play</h1>
    </div>

      <%= form_tag games_path, method: :get do %>
          <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Press enter to browse!"
          %>
      <% end %>
    <br>
    <div class= "button">
      <%= link_to "Homepage", "/", class: "btn btn-flat" %>
    </div>

  </div>

  <div class="right">

    <div class="games">
      <table>
        <thead>
          <tr>
            <th><h2>Game</h2></th>
            <th><h2>Preview</h2></th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @games.each do |game| %>
            <% if game.saved %>
              <tr>
                <td><%= link_to "Play #{game.name}", game_clones_path(game), method: :post%></td>
                <% if game.board%>
                  <td><%= cl_image_tag game.board.photo.key, width: '100px', height: '100px' %></td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

</div>
