
<div class="container">
    <h1>Create your game</h1>
    <div id = "button1">
      <%= link_to  "1", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "button2">
      <%= link_to  "2", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "button3">
      <%= link_to  "3", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "button4">
      <%= link_to  "4", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "button5">
      <%= link_to  "5", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "button6">
      <%= link_to  "6", new_game_path, class: "badge badge-pill badge-primary" %>
    </div>
    <div id = "creation1">
      <p>Choose number of players</p>
    </div>

    <div id = "creation2">
      <%= render  "shared/form_board" %>
    </div>

    <div id = "creation3">
      <%= render  "shared/form_dice" %>
    </div>

    <div id = "creation4">
      <%= render  "shared/form_piece" %>
    </div>

    <div id = "creation5">
      <%= render  "shared/form_token" %>
    </div>
    <div id = "creation6">
    <%= simple_form_for(@game, remote: true) do |f| %>
      <%= f.input :number_of_players, collection: 1..6 %>
      <%= f.button :submit %>
    <% end %>
    </div>
</div>
