<div class="table">
</div>

<h1><%= @game.name %> game preview </h1>
<h2><%= @game.number_of_players %> players</h2>

<% if @game.board %>
  <div class="movablecontainer" data-posx="<%= @game.board.posX %>" data-posy="<%= @game.board.posY %>" >
    <%=cl_image_tag @game.board.photo.key , { class: "movable board",
      style: " left: #{@game.board.posX}; top: #{@game.board.posY}; height: #{@game.board.height}px;
               width:#{@game.board.width}px; transform:rotate(#{@game.board.angle}deg);"} %>
    <%= simple_form_for [@game, @game.board] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% @game.card_decks.each do |deck| %>
  <% deck.cards.each do |card| %>
    <div class = "movablecontainer" data-posx="<%= card.posX %>" data-posy="<%= card.posY %>">
      <%= cl_image_tag card.photo.key, {class: "movable card", style: " top: #{card.posY}; left: #{card.posX}; height: #{card.height}px; width: #{card.width}px; transform:rotate(#{card.angle}deg);"} %>
      <%= simple_form_for([@game, deck, card]) do |f| %>
        <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
        <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% @game.tokens.each do |token| %>
  <div class="movablecontainer" data-posx="<%= token.posX %>" data-posy="<%= token.posY %>" >
    <%= cl_image_tag token.photo.key, {class: "movable token", style: "top: #{token.posY}; left: #{token.posX}; height: #{token.height}px; width:#{token.width}px; transform:rotate(#{token.angle}deg);"}%>
    <%= simple_form_for([@game, token]) do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% @game.pieces.each do |piece| %>
  <div class="movablecontainer" data-posx="<%= piece.posX %>" data-posy="<%= piece.posY %>" >
    <%= cl_image_tag piece.photo.key, { class: "movable piece", style: " left: #{piece.posX}; top: #{piece.posY}; height: #{piece.height}px; width:#{piece.width}px; transform:rotate(#{piece.angle}deg);"}  %>
      <%= simple_form_for [piece.game, piece] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% @game.dices.each do |dice| %>
  <div class = "movablecontainer" data-posx="<%= dice.posX %>" data-posy="<%= dice.posY %>">
    <%= cl_image_tag dice.photo.key, {class: "movable dice", style: " top: #{dice.posY}; left: #{dice.posX}; height: 50px; width:50px; transform:rotate(#{dice.angle}deg);"} %>
    <%= simple_form_for([@game, dice]) do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
      <%= f.input :value, input_html: {value: (rand(dice.faces - 1) + 1)}, as: :hidden %>
    <% end %>
  </div>
<% end %>



<div class = "bottom-right btn btn-primary">
  <%= simple_form_for @game do |f| %>
  <%= f.input :saved, input_html: {value: true}, as: :hidden%>
  <%= f.button :submit %>
  <% end %>
</div>
