<div class="table">
</div>

    <h1><%= @game.name %> game preview </h1>
    <h2><%= @game.number_of_players %> players</h2>

<% if @game.board %>
  <div class="movablecontainer" data-posx="<%= @game.board.posX %>" data-posy="<%= @game.board.posY %>" >
    <%=cl_image_tag @game.board.photo.key , { class: "movable board", style: " left: #{@game.board.posX}; top: #{@game.board.posY};height: #{@game.board.height}px; width:#{@game.board.width}px; transform:rotate(#{@game.board.angle}deg);"} %>

    <%= simple_form_for [@game, @game.board] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% unless @game.tokens.empty? %>
  <% @game.tokens.each do |token| %>
    <div class="movablecontainer" data-posx="<%= token.posX %>" data-posy="<%= token.posY %>" >
      <%= cl_image_tag token.photo.key, {class: "movable token", style: "top: #{token.posY}; left: #{token.posX}; height: #{token.height}px; width:#{token.width}px; transform:rotate(#{token.angle}deg);"}%>
      <%= simple_form_for([@game, token]) do |f| %>
        <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
        <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% unless @game.pieces.empty? %>
  <% @game.pieces.each do |piece| %>
    <div class="movablecontainer" data-posx="<%= piece.posX %>" data-posy="<%= piece.posY %>" >
      <%= cl_image_tag piece.photo.key, { class: "movable piece", style: "position: absolute; left: #{piece.posX}; top: #{piece.posY}; height: #{piece.height}px; width:#{piece.width}px; transform:rotate(#{piece.angle}deg);"}  %>
        <%= simple_form_for [piece.game, piece] do |f| %>
        <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
        <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% unless @game.dices.empty? %>
  <% @game.dices.each do |dice| %>
  <div class = "movablecontainer" data-posx="<%= dice.posX %>" data-posy="<%= dice.posY %>">
      <div>
        <h1 class = "dicenumber">
          <%= dice.value %>
        </h1>
      </div>
        <%= cl_image_tag dice.photo.key, {class: "movable dice", style: "position: absolute; top: #{dice.posY}; left: #{dice.posX}; height: 50px; width:50px; transform:rotate(#{dice.angle}deg);"} %>
        <%= simple_form_for([@game, dice]) do |f| %>
          <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
          <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
          <%= f.input :value, input_html: {value: (rand(dice.faces - 1) + 1)} %>
        <% end %>
      </div>

  <% end %>
<% end %>


<div class = "bottom-right btn btn-primary">
  <%= simple_form_for @game do |f| %>
  <%= f.input :saved, input_html: {value: true}, as: :hidden%>
  <%= f.button :submit %>
  <% end %>
</div>
