<div class="container">
  <h1><%= @game.name %></h1>
  <% @game.card_decks.each do |card_deck| %>

    <h2><%= card_deck.name %></h2>

    <% card_deck.cards.each do |card| %>
      <%= card.name %>
      <% if card.photo.attached? %>
        <%= cl_image_tag card.photo.key, width: '120px', height: '200px' %>
      <% end %>
    <% end %>
  <% end %>
<%= link_to "add board", new_game_board_path(@game) %>
<%= link_to "add dices", new_game_dice_path(@game) %>
<%= link_to "add token", new_game_token_path(@game) %>
<%= link_to "add pieces", new_game_piece_path(@game) %>
<%= link_to "Game preview", game_preview_path(@game) %>
<%= link_to "New card deck", new_game_card_deck_path(@game)  %>
</div>


