<div class="table">
</div>

    <h1><%= @clone.name %> game preview </h1>
    <h2><%= @clone.number_of_players %> players</h2>

<% if @clone.cboard %>
  <div class="movablecontainer" data-posx="<%= @clone.cboard.posX %>" data-posy="<%= @clone.cboard.posY %>" >
    <%=cl_image_tag @clone.cboard.photo.key , { class: "movable board", style: " left: #{@clone.cboard.posX}; top: #{@clone.cboard.posY};"} %>
    <%= simple_form_for [@clone, @clone.cboard] do |f| %>
      <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
      <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
<% end %>

<% unless @clone.cpieces.empty? %>
  <% @clone.cpieces.each do |piece| %>
  <div class="movablecontainer" data-posx="<%= piece.posX %>" data-posy="<%= piece.posY %>" >
    <%= cl_image_tag piece.photo.key, { class: "movable piece", style: "left: #{piece.posX}; top: #{piece.posY};", width: '60px'}%>
    <%= simple_form_for [@game, piece] do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
  <% end %>
<% end %>

<% unless @clone.ctokens.empty? %>
  <% @clone.ctokens.each do |token| %>
  <div class="movablecontainer" data-posx="<%= token.posX %>" data-posy="<%= token.posY %>" >
    <%= cl_image_tag token.photo.key, { class: "movable token", style: "left: #{token.posX}; top: #{token.posY};", width: '40px'}%>
    <%= simple_form_for [@clone, token] do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
    <% end %>
  </div>
  <% end %>
<% end %>

      <%# unless @game.dices.empty? %>
        <%#= cl_image_tag("dices.png", :quality=>50, :width=>72, :crop=>"scale") %>
        <%# <ul> %>
          <%# @game.dices.each do |dice| %>
          <%# <li><%#= dice.faces %>   <%#faces</li> %>
          <%# end %>
        <%#</ul>
      <%# end %>

<% unless @clone.ccard_decks.empty? %>
  <% @clone.ccard_decks.each do |deck| %>
    <div class="movablecontainer">
      <% deck.cards.each do |card| %>
        <%= cl_image_tag card.photo.key, { class: "card", style: "position: absolute; left: #{deck.posX}px; top: #{deck.posY + card.position * 40}px;", width: '120px'} %>
      <% end %>
    </div>
  <% end %>
<% end %>
