<% unless @game.pieces.empty? %>
  <% @game.pieces.each do |piece| %>
    <%= cl_image_tag piece.photo.key, { class: "piece greyed", style: "position: absolute; left: #{piece.posX}px; top: #{piece.posY}px; height: #{piece.height}px; width:#{piece.width}px; transform:rotate(#{piece.angle}deg);"} %>
  <% end %>
<% end %>

<% unless @game.tokens.empty? %>
  <% @game.tokens.each do |token| %>
    <%= cl_image_tag token.photo.key, { class: "token greyed", style: "position: absolute; left: #{token.posX}px; top: #{token.posY}px; height: #{token.height}px; width:#{token.width}px; transform:rotate(#{token.angle}deg);"}%>
  <% end %>
<% end %>

<% unless @game.card_decks.empty? %>
  <% @game.card_decks.each do |deck| %>
      <% deck.cards.each do |card| %>
        <%= cl_image_tag card.photo.key, { class: "card greyed", style: "position: absolute; left: #{card.posX}px; top: #{card.posY}px; height: #{card.height}px; width:#{card.width}px; transform:rotate(#{card.angle}deg);"} %>
      <% end %>
  <% end %>
<% end %>


<div class="movablecontainer" data-posx="<%= @board.posX %>" data-posy="<%= @board.posY %>" >

  <%= cl_image_tag @board.photo.key, class: "movable board", style:"height: #{@board.height}px; width:#{@board.width}px; transform:rotate(#{@board.angle}deg);" %>

  <%= simple_form_for [@board.game, @board] do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
  <% end %>

</div>

<h1 class = "componentplacement">Place your board on the table</h1>


<div class = "table">
</div>

<div class = "sizeform">
  <%= simple_form_for [@board.game, @board] do |f| %>
    <%= f.input :height, input_html: {value: '500'} %>
    <%= f.input :width, input_html: {value: '500'} %>
    <%= f.input :angle, input_html: {value: '0'} %>
    <%= f.button :submit, 'Save dimensions' %>
  <% end %>
</div>

<div class = "bottom-right btn btn-primary">
  <%= link_to "Save placement", game_path(params[:game_id]) %>
</div>
