<div class = "movablecontainer">


  <%= cl_image_tag @board.photo.key , { class: "board" } %>

</div>

  <%= simple_form_for([@game, @board]) do |f| %>
    <%= f.input :posX, id: "posX" , as: :hidden %>
    <%= f.input :posY, id: "posY", as: :hidden %>
    <%= f.button :submit, class: "btn btn-primary bottom-right"  %>
  <% end %>


<div class = "table">
</div>
