<div class="movablecontainer" data-posx="<%= @board.posX %>" data-posy="<%= @board.posY %>" >

  <%= cl_image_tag @board.photo.key, class: "movable board" %>

  <%= simple_form_for [@board.game, @board] do |f| %>
    <%= f.input :posX, input_html: { id: "posX" }, as: :hidden %>
    <%= f.input :posY, input_html: { id: "posY" }, as: :hidden %>
  <% end %>

</div>

<h1 class = "componentplacement">Place your board on the table</h1>


<div class = "table">
</div>
